#photos {
    display: flex;
    flex-wrap: wrap;
    --height: 240; /* Minimal row height */
    --ratio: 1; /* Default aspect ratio for photos that are not loaded yet */
}

#photos .image {
    border: 1px solid #eee;
    flex: calc(var(--height) / var(--ratio));
    min-width: calc(var(--height) / var(--ratio) * 1px);
    margin: 2px;
    cursor: pointer;
    max-width: calc(var(--height) / var(--ratio) * 1.2px);
}

#photos .image img {
    /* Just in case there are inline attributes */
    margin: 2px;
    width: 100%;
}

.img__title {
    line-height: calc(var(--font-size-nomal) + 5px);
    padding: 0 5px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

@media (max-width: 1200px) {
    #photos .image {
        max-width: calc(var(--height) / var(--ratio) * 1.3px);
    }
}
@media (max-width: 992px) {
    #photos .image {
        max-width: calc(var(--height) / var(--ratio) * 1.4px);
    }
}
@media (max-width: 768px) {
    #photos .image {
        max-width: calc(var(--height) / var(--ratio) * 1.8px);
    }
}
@media (max-width: 576px) {
    #photos .image {
        max-width: calc(var(--height) / var(--ratio) * 2.2px);
    }
}
